*{
    margin: 0;
    padding: 0;
}

.Contenedor{
    width: 99%;
    height: 1000px;
    margin: 0.5em ;
    padding: 0.5em;
}

.Inicio{
    width: auto;
    text-align: center;
    height: 7%;
    background: #333;
    border-radius: 1em;
    overflow: hidden;
    margin-bottom: 15px;
     
     }
.Inicio a{
    color: #FFFFFF; 
    text-decoration: none;
    display: inline-block;
    padding:  2%;
   
} 

.Inicio a:hover{
    background-color: #4CAF50;
    color: #FFFFFF
}

.Contenido{
    
    height: 90%;
    background: #FFFFFF;
    
}

.Lateral{
    overflow:hidden;
    background-color: #333;
    width: 25%;
    text-align: left;
    border-radius: 15px;
    float: left;
    margin: 0;
    
}
.Lateral a{
    display: block;
    color: #FFF;
    padding: 14px 17px;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
    text-decoration: none;
}

.Lateral a:hover{
    background-color: #4CAF50;
    color: #FFF;
}

.Imagen{
     padding: 1em;
 }

.texto, h2{
    text-align: center;
    padding: 0.5em;
    }

table{ 
  position: absolute;
    right: 250px;;
    background-color: rgba(245, 245, 245);
     border-radius: 15px;
    box-shadow: 0px 0px 0px 1px rgba(135, 206, 235), 1px 0px 0px 0px rgba(255, 250, 250) inset, 0px 2px 2px rgba(192, 192, 192); 
    }


.Footer{
        height: 15%;
        background: #424242;
    }
.Footer img{
    float: left;
    width: 150px;
    opacity: 0.3;
}

.info-footer{
    
    position: absolute;
    top: 1050px;
    left: 550px;
}


.Footer iframe{
    float: right;
    position: absolute;
    top: 1000px;
    right: 0;
}




@media screen and (max-width: 650px) {
      #contenedor{
                         
    table{
    position: absolute;
    right: 200px;;
    background-color: rgba(245, 245, 245);
    
    box-shadow: 0px 0px 0px 1px rgba(135, 206, 235), 1px 0px 0px 0px rgba(255, 250, 250) inset, 0px 2px 2px rgba(192, 192, 192); 
    }
}